.container{
  width: 100%;
}

.row{
  width:55%;
  margin: auto;
  font-size: 1.1em;
}

.full-width-picture{
  width: 85%;
  margin: auto;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1{
  font-size: 4em;
}

.first-screen {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 1.5em;
}
.published {
  font-size: 0.75em;
}

.social-icons {
  position: fixed;
}

h4 span{
  background-color: #A8C6D0;
}

.quote {
    color: #007685;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 2em;
    min-height: 150px;
}

.quote::before {
  content: "“";
  font-family: Arial;
  font-size: 7em;
  left: 0;
  position: relative;
  top: 0.5em;
}

@media (max-width:544px) {
  .row {
    width: 100%;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }
}

@media (max-width:768px) {
  .row {
    width: 80%;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }
}

@media (max-width:992px) {
  .row {
    width: 80%;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }
}
