.container{
  width: 100%;
}

.row{
  width:55%;
  margin: auto;
  font-size: 1.1em;
}

.full-width-picture{
  width: 85%;
  margin: auto;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1{
  font-size: 4em;
  margin-bottom: 30px;
}

.first-screen {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 1.25em;
}
.published {
  font-size: 0.8em;
}

.social-icons {
  position: fixed;
  z-index: 1000;
}

.fa-twitter, .fa-facebook{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: lightgray;
  margin-bottom: 2px;
}

h4 span{
  background-color: #A8C6D0;
}

.quote {
    color: #007685;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 2em;
    min-height: 200px;
}

.quote::before {
  content: "“";
  font-family: Arial;
  font-size: 7em;
  left: 0;
  position: relative;
  top: 0.5em;
}

.additional {
  padding-top: 1%;
  background-color: #EFF2F4;
  border-radius: 10px;
}

@media (max-width:544px) {
  .row {
    width: 100%;
  }

  .subtitle {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }

  .quote {
    font-size: 1.25em;
    min-height: 275px;
  }

  .quote::before {

    font-size: 4em;
  }
}

@media (max-width:768px) {
  .row {
    width: 80%;
  }

  .subtitle {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }

  .quote {
    font-size: 1.75em;
    min-height: 250px;
  }
}

@media (max-width:992px) {
  .row {
    width: 80%;
  }

  .subtitle {
    font-size: 1.25em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }

  h1 {
    font-size: 2.5em;
  }

  .full-width-picture {
    width: 100%;
    margin: auto;
  }

  .quote {
    font-size: 1.75em;
    min-height: 250px;
  }
}
